body {background: radial-gradient(lightgrey, black); text-align:center; color: whitesmoke
}

img{ border: 5px solid #555; 
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0:
  list-style-position: inside;
}

p.inset {border-style: inset
}

p.mix {border-style: dotted dashed solid double;
}

p.double {border-style: double;
}

h1 {font-style: oblique; 
}

h2 {font-style:unset;
}

h3 { font-family: 'Gill Sans'; }

h4 {font-family:Verdana;
}